.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    z-index: 10;
}

.grid-label-item {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 40px;
}